.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.image-list img {
  width: 250px;
  /* height: 250px; */
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */